*{ font-family:Arial}
.navbar-color{
    background-color: #fd9843;
    border:crimson 2px solid; 
}
.nav-item{
    margin-left:25px ;
    /* margin-right:25px ; */
}
.nav-link{
    color: crimson;
}
#offcanvasRightLabel{
    color:#fd9843;
}
#atcp{
    padding-top: 300px;
}
#atcb{
    /* border-radius:30px; */
    border:crimson 1px solid ;
    color:#fd9843;
}
#atcb:hover{
    border-radius:30px;
    border: #fd9843 1px solid ;
    color:crimson;
}
#navcol{
    color: white;
    font-family: 'Times New Roman';
}
.logosize{
  width: 150px;
  height: 80px;
}
/* smoothies */
.smoothie-h{font-size: 100px;
            font-weight: bolder;
            text-align: center;
            margin-top: 15px;
            /* width: 100%; */
            /* height:400px; */
            display: flex;
             align-items: center;
             justify-content: center;
             background:linear-gradient(to top right,yellow,red);
             color: transparent;
             -webkit-background-clip:text;}

  .linc{
    text-decoration: none;
  }
            

.name{font-size: 29px;
        font-weight: bold;
        text-transform: capitalize;
        text-shadow:0 0 1px rgb(133, 132, 132);
      color: black;
      }
.detail-bt{
  display: flex;
  justify-content: space-between;  
  margin-top: 17px;        }


.price{ color: black;
        font-size: 25px;
        font-weight: 800;
        margin-left: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    
  #card-btn
  {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    background: 3fff;
    width: 160px;
    height: 45px;
    margin-top: px;
    padding: 8px ;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fd9843;
    border: 2px #fd9843 solid ;
    border-radius: 5px;
    cursor: pointer;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
    
  #card-btn:hover, #card-btn:focus, #card-btn:active{
    background-color:#fd9843 ;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }



/* footer */
.fab {
    font-size: 20px;
  }
  .icon a {
    text-decoration: none;
  }
  .map {
    text-decoration: none;
    color: black;
    color: aliceblue;
  }
  .phone {
    cursor: pointer;
  }

  .text-uppercase {
    color: aliceblue;
  }
  .quick {
    color: aliceblue;
  }
  .fas {
    color: aliceblue;
  }
  .phone {
    color: aliceblue;
  }    

  .text-light{
    text-decoration: none;
  }

